<!DOCTYPE html>
<html>
<head>
  <title>Logout</title>
</head>
<body>
  <h1>Cerrar sesión</h1>
  <form action="/logout" method="POST">
    <input type="submit" value="Cerrar sesión">
  </form>
</body>
</html>
